@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Modern CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
}

img,
picture,
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Inter';
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

/* Colors */
:root {
    --light-green-clr: #04ddb2;
    --pure-white-clr: #fff;
    --dark-txt-clr: #333;
    --gray-text-clr: #767676;
}

/* HEADER */
header {
    /*border: 2px solid red;*/
    position: sticky;
    top: 0;
    background: var(--pure-white-clr);
    z-index: 50;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.container-nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    gap: 2rem;
}

.nav-list a {
    color: var(--gray-text-clr);                            
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-list a:hover {
    color: var(--dark-txt-clr);
}

.cta .download-btn {
   padding: 0.75rem 1.5rem;
   background-color: var(--light-green-clr);
   color: var(--pure-white-clr);
   border: none;
   font-size: 1.125rem;
   font-weight: 600;
   border-radius: 0.5rem;
}

.cta .download-btn:hover,
.hero-section .download-btn:hover {
    background-color: #006d5b;
}

/* HERO SECTION */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 4rem 2rem;
    text-align: center;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-title span {
    color: var(--light-green-clr);
}

.hero-subtitle {
    color: #555;
    font-size: 1.2rem;
    max-width: 650px;
    margin: 0 auto 3rem;
}

.hero-img {
    margin-bottom: 2rem;
    border-radius: 2rem;
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-img:hover {
    transform: scale(1.05);
}

.hero-cta-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-section .download-btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--light-green-clr);
    color: var(--pure-white-clr);
    border: none;
    font-size: 1.25rem;
    border-radius: 0.75rem;
}

/* FOOTER SECTION */
footer {
    border-top: 1px solid #e5e7eb;
    padding: 4rem 2rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    /*border: 3px solid goldenrod;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.footer-branding img ,
.footer-branding p{
   margin-bottom: 0.75rem;
}


.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.footer-item ul li{
    margin-bottom: 0.4rem;
}

.footer-item ul li a {
    color: var(--dark-txt-clr);
}

.footer-socials {
    display: flex;
    gap: 1rem;
}

.footer-socials i {
    color: var(--pure-white-clr);
    background-color: var(--light-green-clr);
    padding: 0.7rem;
    font-size: 1.1rem;
    border-radius: 50%;
}


