@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Modern CSS reset */
*, *::before, *::after {
    box-sizing: border-box;
} 

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialised;
}

img,
picture,
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Inter';
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

